page-registrarse {


}
.nombre{
  color:#0B4C5F
}
.requerido{
  color:red;
  font-size: 15px;
}
.Ad{
  color:rgb(167, 140, 82);
  font-size: 15px;
}
.verde{
  color: rgb(50, 204, 50);
  font-size: 15px;
}