 
 
 h1{
   text-align: center;
  font-weight: bold;
   font-size: 30px;
   color:#000000;
}
.ti{
    color:#1f1a66;
    font-size: 45px;
    transition: 0.2;
}

ion-card:hover {
opacity: 0.5;
}
@keyframes blink {  
    0% { color: rgb(54, 4, 70); }
    100% { color: rgb(103, 86, 143); }
  }
  @-webkit-keyframes blink {
    0% { color: rgba(68, 150, 218, 0.767); }
    100% { color: rgb(14, 71, 136); }
  }
  .blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
  }
 
 