<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                  <h4>Pendientes</h4>
            </ion-col>
            <ion-col text-center>
              <h4>En Proceso</h4>
            </ion-col>
            <ion-col text-center >
                <h4>Terminadas</h4>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="pag2">

    <ion-grid class="juego">
        <ion-row>
            <ion-col text-center>


      <ion-col *ngFor="let k of prueba.Preguntas ; let i=index" text-center >


                <button  ion-button color="pendiente"   (click)="Pendientes(prueba.Preguntas[i],k.Id_Pregunta)">
                        <ion-icon ios="ios-apps" md="md-apps">{{k.Dificultad}}</ion-icon></button>
               <!--ion-col *ngFor="let k of Preguntas; let i=index" text-center > </ion-col+-->
   
      </ion-col>

            </ion-col>
            <ion-col text-center>


                <ion-col text-center *ngFor="let k of prueba.Habil ; let i=index" >


                    
                  <button ion-button  color="danger" *ngIf="k.terminada == 0 && k.respondida == 1"
               (click)="Pendientes(prueba.Preguntas[i],k.Id_Pregunta)">
  <ion-icon ios="ios-create" md="md-create" >{{k.Id_Pregunta}}</ion-icon>
                </button>


                </ion-col>


            </ion-col>
            <ion-col text-center>


                <ion-col  *ngFor="let k of prueba.Habil ; let i=index"text-center  >
                  <button ion-button color="terminado" *ngIf="k.terminada==1 && k.respondida ==0">
                    <ion-icon ios="ios-checkmark" md="md-checkmark" > {{k.Id_Pregunta}} </ion-icon>
                  </button>

                </ion-col>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
<ion-fab center bottom>
    <button ion-fab color="danger" (click)="Salir()"><ion-icon  name="exit"></ion-icon></button>
  
  </ion-fab>
<ion-footer  class="cabeza" color="jugar">
  <ion-grid >
      <ion-row>
          <ion-col text-center  (click)="Regresar()">
              
                <ion-icon  name="arrow-dropleft"></ion-icon>

          </ion-col>
       
          <ion-col text-center (click)="MostrarModal()">
              <ion-icon  name="ios-contact-outline"></ion-icon>

          </ion-col>

      </ion-row>
  </ion-grid>
</ion-footer>
