<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                  <h4>Pendientes</h4>
            </ion-col>
            <ion-col text-center>
              <h4>En Proceso</h4>
            </ion-col>
            <ion-col text-center >
                <h4>Terminadas</h4>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="pag2">

    <ion-grid class="juego">
        <ion-row>
            <ion-col text-center>


      <ion-col *ngFor="let k of Preguntas ; let i=index" text-center >
      <button  ion-button color="pendiente"   (click)="Pendientes(Preguntas[i],k.key)" [disabled]="k.habilitado">
     <ion-icon ios="ios-apps" md="md-apps" >{{i+1}}</ion-icon></button>
      </ion-col>

            </ion-col>
            <ion-col text-center>



                <ion-col *ngFor="let k of  Preguntas, let i=index" text-center>
                  <button ion-button  color="danger"
                  *ngIf="k.Respondida  && !k.Terminada" (click)="Pendientes(Preguntas[i],k.key)">
  <ion-icon ios="ios-create" md="md-create" > {{i+1}}</ion-icon>

                  </button>


                </ion-col>


            </ion-col>
            <ion-col text-center>


                <ion-col *ngFor="let k of Preguntas, let i=index" text-center >
                  <button ion-button color="terminado" *ngIf="k.Terminada && !k.Respondida ">
                    <ion-icon ios="ios-checkmark" md="md-checkmark" >{{i+1}}</ion-icon>
                  </button>

                </ion-col>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
<ion-footer  class="cabeza">
  <ion-grid >
      <ion-row>
          <ion-col text-center  (click)="Regresar()">
              <ion-icon name="arrow-dropleft-circle"><span>Menu Principal</span> </ion-icon>

          </ion-col>
          <ion-col text-center>
              <ion-icon ios="ios-trophy" md="md-trophy"><span>Nivel 10</span></ion-icon>

          </ion-col>
          <ion-col text-center (click)="MostrarModal()">
              <ion-icon name="contact"><span>Perfil Usuario</span></ion-icon>

          </ion-col>

      </ion-row>
  </ion-grid>
</ion-footer>
